<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umkc.jeff.morgan.mysushi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SushiActivityMenu" />
        <activity android:name=".NigiriActivityMenu" />
        <activity android:name=".SashimiActivityMenu" />
        <activity android:name=".sushi.CaliforniaRoll_Activity" />
        <activity android:name=".MainActivityMenu" />
        <activity android:name=".sashimi.Akami_Sashimi" />
        <activity android:name=".nigiri.Maguro_Nigiri"></activity>
    </application>

</manifest>